rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /polls/{pollId} {
      allow read;
      allow write: if resource.data.user == request.auth.uid
    }

    match /polls/{pollId}/responses/{userId} {
      allow read;
      allow write: if userId == request.auth.uid
    }
  }
}